**/.deps
**/.libs/
**/debian/*.debhelper.log
**/debian/*.substvars
**/debian/autoreconf.*
**/debian/files
**/debian/tmp/
*.debhelper
*.la
*.lo
*.log
*.o
*.trs
m4/*
aclocal.m4
autom4te.cache
compile
config.*
configure
debhelper-build-stamp
debian/libteng-dev*
debian/libteng*-dbg*
debian/libteng*/
depcomp
INSTALL
install-sh
libteng.pc
libtool
ltmain.sh
Makefile
Makefile.in
missing
.dirstamp
src/Makefile
src/Makefile.in
src/tengconfig.h
src/lex2impl.cc
src/lex2impl.h
src/syntax.cc
src/syntax.hh
src/stack.hh
src/test-teng
test-driver
version
ylwrap
fuzzer-corpus
test-coverage-html
