**/.deps
**/.libs/
**/debian/*.debhelper.log
**/debian/*.substvars
**/debian/autoreconf.*
**/debian/files
**/debian/tmp/
*.debhelper
*.la
*.lo
*.log
*.o
*.trs
aclocal.m4
autom4te.cache
compile
config.*
configure
debhelper-build-stamp
debian/libteng-dev*
debian/libteng*-dbg*
debian/libteng*/
depcomp
INSTALL
install-sh
libteng.pc
libtool
ltmain.sh
Makefile
Makefile.in
missing
python/.pybuild
python/debian/python-teng/**
src/Makefile
src/Makefile.in
src/tengconfig.h
src/tenglex2.cc
src/tengsyntax.cc
src/tengsyntax.hh
test-driver
test_base
test_filesystem
version
ylwrap
