#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --buildsystem=meson --parallel

override_dh_auto_configure:
	dh_auto_configure -- --buildtype=debugoptimized \
		--wrap-mode=nofallback --force-fallback-for=catch2-with-main
